PORT=4000
CIRCUIT_BREAKER_OPEN_STATE_TIMEOUT=60s
CIRCUIT_BREAKER_HALF_OPEN_STATE_MAXIMUM_REQUEST_COUNT=3
CIRCUIT_BREAKER_CONSECUTIVE_FAILURE_THRESHOLD=5
CIRCUIT_BREAKER_BUCKET_PERIOD=10s
FINNHUB_API_KEY=xxxxxxxx
FINNHUB_API_BASE_URL=https://finnhub.io/api/v1